body {
    background: url("https://media.istockphoto.com/illustrations/shadow-monk-in-the-light-of-darkness-illustration-id1197370405?k=6&m=1197370405&s=612x612&w=0&h=u3on8t3tXS6rLJ0tHmBz9rApJ50kucnPVJDmSgc8K-8=");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    font-family: "Arial Black", sans-serif;
    text-align: center;
  }
  header {
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    margin: 20px;
    padding: 8px;
    border-radius: 4px;
    color: white;
    text-align: center;
  }
  #grid div{
    display: flex;
    grid-template-columns: auto;
    text-align: center;
    border: 10px solid black;
    border-radius: 8px;
    margin: 20px auto;
    padding: 10px;
    background-color: black;
  }
  #grid p {
    font-family: "Courier New", Courier, monospace;
    display: flex;
    text-align: center;
    margin: 10px;
    color: white;
  }
  @media (max-width: 768px) {
    #grid {
      grid-template-columns: 1fr;
    }
  }
  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  #flex img {
    display: flex;
    border: 40px;
    margin: auto;
    gap: auto;
  }
  footer {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 4px;
  }